@import "../styles/colors.scss";

.card {
  margin-left: 24rem;
  text-align: center;
  width: 500px;
  min-height: 300px;
  // background: #1f1c18a4;
  background: darken($color-btn-text, 2%);
  box-shadow: 0 8px 32px 0 $color-primary;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 1rem;
  padding: 2rem;
}

.subtitle {
  font-family: $font-primary, $font-secondary;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: $color-primary;
}

@media screen and (min-width: 1400px) {
  .card {
    margin-left: 35rem;
    width: 780px;
    min-height: 400px;
  }

  .subtitle {
    font-size: 3rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    transform: translateX(15%);
  }
  .card {
    margin-left: 0rem;
    width: 550px;
    min-height: 350px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 1rem;
    padding: 2rem;
    z-index: -10;
  }
}
@media screen and (max-width: 678px) {
  .card {
    margin-left: 0rem;
    width: 350px;
    min-height: 350px;
  }
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 460px) {
  .card {
    width: 280px;
    min-height: 200px;
  }
  .subtitle {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 300px) {
  .card {
    width: 250px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
}
