/* Config */
$color-bg: #1f1c18;
$color-particle: #fff;
$spacing: 1000px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0 0 $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, #{random($spacing)}px #{random($spacing)}px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* Styles */

.page-bg,
.animation-wrapper {
  position: absolute;
  top: 0;
  animation: fadeIn 1s 1.1s backwards;
  // overflow: hidden;
}

.page-bg {
  background: $color-bg;
  background-blend-mode: screen;
  filter: grayscale(100%);
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: '';
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

// .particle-2 {
//   animation: animParticle $time-2 linear infinite;
//   @include particles(800);
//   height: 2px;
//   width: 2px;
// }

// .particle-2:after {
//   @include particles(500);
//   height: 3px;
//   width: 3px;
// }

@keyframes animParticle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 1530px) {
  .animation-wrapper {
    left: 50%;
  }
}

@media screen and (max-width: 1050px) {
  .animation-wrapper {
    left: 0%;
  }
  .page-bg {
    left: 0;
  }
}
