@import "../styles/colors.scss";
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
  gap: 5rem;
  margin-bottom: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.all-click {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
  .hover-text {
    opacity: 1;
  }
  & > div {
    opacity: 1;
    transition-delay: 0s;
  }
  .explainer {
    opacity: 0;
  }
}

.left,
.center,
.right,
.lefter,
.righter {
  width: 180px;
  height: 135px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid $color-bg-hover;
  box-shadow: 0 0 20px 5px $color-bg-hover;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;

  background-color: $color-primary;
  cursor: pointer;
  background-blend-mode: color-burn;

  &:hover {
    box-shadow: 0 0 30px 10px $color-secondary;
    background-color: $color-secondary;
  }
}
.hover-text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: -5rem;
  left: 10%;
  position: absolute;
  will-change: transform;
  color: $color-primary;
  text-shadow: 0 0 5px $color-primary;
  font-size: 24px;
}
.lefter {
  transform: translateX(-30px) translateZ(-50px) rotateY(0deg);

  &:hover {
    transform: translateX(-30px) translateZ(0px) rotateY(20deg);
  }
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(0deg);

  &:hover {
    transform: translateX(-30px) translateZ(0px) rotateY(20deg);
  }
}

.center {
  opacity: 1;
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(0deg);

  &:hover {
    transform: translateX(30px) translateZ(0px) rotateY(-20deg);
  }
}
.righter {
  transform: translateX(30px) translateZ(-50px) rotateY(0deg);
  &:hover {
    transform: translateX(30px) translateZ(0px) rotateY(-20deg);
  }
}
.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: $color-secondary;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #505030;
  background-image: radial-gradient(
    circle at center top,
    $color-btn-text,
    $color-primary
  );
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  text-align: center;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: 600;
  margin: 1px;
}

@media screen and (max-width: 1320px) {
  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 150px;
    height: 130px;
  }
}
@media screen and (max-width: 1220px) {
  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 120px;
    height: 140px;
  }
  .text-box {
    font-size: 21px;
    margin: 5;
  }
}

@media screen and (max-width: 924px) {
  .center {
    order: -1;
  }
  .all {
    flex-direction: column;
    gap: 14rem;
    transform: perspective(400px) rotateX(5deg);
  }

  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 320px;
    height: 140px;
  }
  .text-box {
    font-family: Saira Condensed;
    font-size: 20px;
    font-weight: 600;
    margin: 1px;
  }
  .lefter {
    transform: translateX(0px) translateZ(-50px) rotateY(0deg);

    &:hover {
      transform: translateX(0px) translateZ(20deg) rotateY(0);
      transform: rotateX(-10deg);
    }
  }
  .left {
    transform: translateX(0px) translateZ(-25px) rotateY(0deg);

    &:hover {
      transform: translateX(0px) translateZ(0px) rotateY(20deg);
      transform: rotateX(10deg);
    }
  }

  .center {
    opacity: 1;
  }
  .right {
    transform: translateX(0px) translateZ(-25px) rotateY(0deg);

    &:hover {
      transform: translateX(0px) translateZ(0px) rotateY(-20deg);
      transform: rotateX(-10deg);
    }
  }
  .righter {
    transform: translateX(0px) translateZ(-50px) rotateY(0deg);
    &:hover {
      transform: translateX(10px) translateZ(0px) rotateY(-20deg);

      transform: rotateX(1deg);
    }
  }
}
@media screen and (max-width: 530px) {
  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 220px;
    height: 140px;
  }
  .hover-text {
    font-size: 20px;
  }
  .all {
    margin: 0;
  }
}
