$font-primary: "Saira Condensed", sans-serif;

.cs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__animate_container {
  animation: fadeIn 1.2s 1.4s backwards;
  gap: 20rem;
  margin-right: 5rem;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 1400px) {
  .about__animate_container {
    gap: 30rem;
  }
}
@media screen and (max-width: 1024px) {
  .about__animate_container {
    flex-direction: column;
    gap: 10rem;
  }

  .about__animate_container {
    gap: 20rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .about__animate_container {
    flex-direction: column;
    gap: 10rem;
  }
}
