.about-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.about_container-description {
  font-size: 28px;
  color: #fff3bf;
  width: 900px;
  transform: translate(0%, 20%);
  animation: backInUp 1.2s 1.4s backwards;
}

.about__page-description {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
@media screen and (min-width: 1630px) {
  .about-container {
    margin-left: 13rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1530px) {
  .about-container {
    margin-left: 13rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1350px) {
  .about_container-description {
    font-size: 24px;
    width: 750px;
  }
}
@media screen and (max-width: 1200px) {
  .about_container-description {
    font-size: 22px;
    width: 700px;
  }
}

@media screen and (max-width: 1050px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
  }
  .about_container-description {
    text-align: center;
    margin-right: 8rem;
  }
  .about_container-description {
    margin: 5rem 0;
  }
}
@media screen and (max-width: 950px) {
  .about-container {
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-top: 30px;
  }
  .about_container-description {
    margin-right: 8rem;
  }
  .about__page-description {
    margin-right: 5rem;
    align-items: center;
  }
}
@media screen and (max-width: 750px) {
  .about-container {
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-top: 30px;
  }
  .about_container-description {
    font-size: 20px;

    align-items: center;
    margin-right: 8rem;
  }
  .about__page-description {
    margin-right: 5rem;
    align-items: center;
  }
}
