$bg-main: linear-gradient(180deg, #1f1c18 50%, #8e0e00 100%);
$color-primary: #ffd43b;
$color-secondary: #fff3bf;
$color-btn-text: #1f1c18;
$color-bg-hover: #8e0e00;
$font-primary: 'Saira Condensed', sans-serif;
$font-secondary: sans-serif;

.home-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  .home__page-link_container {
    align-self: center;
    margin-bottom: 1rem;
    .home__page__link__container-wiggle {
      padding: 16.5px;
      animation: wiggle 3s linear infinite, backInUp 1s 1.1s backwards;

      @keyframes wiggle {
        0%,
        7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%,
        100% {
          transform: rotateZ(0);
        }
      }
    }
    .home__page__link__container-resume {
      animation: backInUp 1.4s 1.5s backwards;
    }
    .home__page__link__container-cv_icon {
      margin: 2px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .btn {
    cursor: pointer;
    margin-left: 4rem;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 20px;
    align-self: center;
    padding: 15px;
    color: $color-btn-text;
    background-color: $color-primary;
    border: none;
    transition: 0.4s all;
    &:hover {
      background-color: $color-bg-hover;
      color: #fff3bf;
    }
  }
}
.home__page-header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .home__page-image_container {
    width: 400px;
    height: 400px;
    img {
      width: 100%;
      border-radius: 50%;
      animation: animate 2s infinite ease alternate, fadeIn 0.5s 0.7s backwards;
    }
    @keyframes animate {
      to {
        transform: translateY(20px);
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .home__page-image_container {
    width: 310px !important;
  }
}
@media screen and (max-width: 1024px) {
  .home__page-image_container {
    width: 320px !important;
  }
  .text {
    font-size: 65px;
    margin-left: 1.6rem;
  }
  .home__page-header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  .home__page-header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .text {
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .text {
    font-size: 50px;
    margin-left: 1.6rem;
  }
  .home__page-image_container {
    width: 250px !important;
  }
  .home__page-header {
    gap: 5rem;
  }
}
@media screen and (max-width: 425px) {
  .text {
    font-size: 38px;
    margin-left: 0;
  }
  .home__page-image_container {
    width: 200px !important;
  }
  .home__page-header {
    gap: 5rem;
  }
  .home__page-web {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 330px) {
  .text {
    font-size: 25px;
    margin-left: 0;
  }
  .home__page-image_container {
    width: 160px !important;
  }
  .home__page-header {
    gap: 8rem;
  }
  .home__page-web {
    margin-top: 7rem;
  }
  .home__page-link_container {
    flex-direction: column;
    margin-left: -5rem;
  }
}
