.container-skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  animation: backInUp 0.5s 0.7s backwards;
}
.skillbar-container {
  gap: 4rem;
  flex-wrap: wrap;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-text {
  padding: 0 20rem;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #fff3bf;
  align-self: center;
  animation: backInUp 1.2s 1.4s backwards;
}

@media screen and (max-width: 1024px) {
  .skills-text {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 768px) {
  .skills-text {
    padding: 0 5rem;
    font-size: 18px;
  }
}
