@import "../components/styles/colors.scss";
.container-skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  animation: fadeIn 0.5s 0.7s backwards;
  // overflow-x: hidden;
}
.skillbar-container {
  gap: 4rem;
  flex-wrap: wrap;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-text {
  padding: 0 20rem;
  font-family: $font-primary, $font-secondary;
  font-weight: 400;
  font-size: 21px;
  color: $color-secondary;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .skills-text {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 768px) {
  .skills-text {
    padding: 0 5rem;
    font-size: 18px;
  }
}
