$bg-main: linear-gradient(180deg, #1f1c18 50%, #8e0e00 100%);
$color-primary: #ffd43b;
$color-secondary: #fff3bf;
$color-btn-text: #1f1c18;
$color-bg-hover: #8e0e00;
$font-primary: 'Saira Condensed', sans-serif;
$font-secondary: sans-serif;

@mixin buttoneffect {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  align-self: center;
  justify-self: center;
  padding: 15px;
  color: $color-btn-text;
  background-color: $color-primary;
  border: none;
  transition: 0.4s all;
  &:hover {
    background-color: $color-bg-hover;
    color: #fff3bf;
  }
}
// button {
//   @include buttoneffect;
//   animation: wiggle 3s linear infinite, backInUp 1s 1.1s backwards;
//   cursor: pointer;
// }

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
