.skill {
  height: 160px;
  width: 160px;
  position: relative;
  .outler {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid red;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -5px rgba(206, 11, 11, 0.7);

    .inner {
      height: 110px;
      display: grid;
      place-items: center;
      width: 110px;
      border-radius: 50%;
      border: 1px solid red;
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(196, 11, 11, 0.7),
        -0.5px -0.5px 0px rgba(206, 11, 11, 0.7),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
#number {
  font-weight: 600;
  color: #fff3bf;
  font-size: 24px;
}

.skill-svg {
  transform: rotate(270deg);
  position: absolute;
  top: 20px;
  left: 0;
}
.skill-text {
  color: #fff3bf;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
