html {
  font-size: 62.5%;
}

body {
  display: block;
  overflow-y: hidden;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* @media screen and (max-width: 720px) {
  body {
    overflow-y: visible;
  }
} */
